<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launch Simulator</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div class="fading">
    <img class="logo"  src="../static/Falcon9.jpg">
    <h1>Space Rocket Launch</h1>
                <form  method="POST" action="/main">
                    <button  class="btn btn-info" >LAUNCH NOW</button><br><br>
            </form>
</div>

<section class="context">

  <div class="crawl">
    
      <p>Welcome Space Shuttle Commander. Congratulations..! on your first space mission as a commander. You have 5 souls onboard plus 150 tons of cargo. Get them both to the ISS</p> <p>But before launch, first perform the pre-flight checks. Godspeed...</p>      

  </div>

</section>

   
</body>
</html>